name: C/C++ CI

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: python3-hamcrest protobuf-compiler libprotobuf-dev zip libguava-java libprotobuf-java flex bison libfl-dev

    - name: make
      run: |
        make
        make docker

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}.${{ github.sha }}
        path: |
          distribution.tar.xz

  build-macos-current:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: brew
      run: |
        brew install protobuf openjdk make
        pip3 install PyHamcrest

    - name: make
      run: gmake CXXFLAGS=-std=c++17
